<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liveunite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Direct Message -->
    <permission
        android:name="com.liveunite.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".LiveUniteMains.LiveUnite"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FaceBook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_id" />
        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM Receivers -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.liveunite" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chat.gcm.LiveReciever"
            android:permission="com.google.android.gcm.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.liveunite" />
            </intent-filter>
        </receiver>

        <!-- GCM Services -->
        <service
            android:name=".chat.gcm.LiveUnitePushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".chat.gcm.LiveUniteGCMIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- Local Chat Dispatch Service -->
        <service android:name=".chat.service.MessageDispatchService">
            <intent-filter>
                <action android:name="com.live.unite.DISPATCH_NEW" />
            </intent-filter>
        </service>
        <service android:name=".chat.service.AppForegroundCheckService">
            <intent-filter>
                <action android:name="com.live.unite.ONLINE_REPORTER" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DiscoverySetting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AppSetting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TermsOfUse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".opencamera.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.PicturePreview"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.UploadService"
            android:exported="false" />

        <activity
            android:name=".activities.EditProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.ColorPrimaryDarkBlack" />
        <activity
            android:name=".chat.activities.ChatWall"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".chat.activities.ChatRoom"
            android:parentActivityName=".chat.activities.ChatWall"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".chat.activities.Profile"
            android:parentActivityName=".chat.activities.ChatRoom" />

        <activity android:name=".chat.activities.ReportUserThemed"
            android:screenOrientation="portrait"
            android:theme="@style/ReportDialogTheme"></activity>

    </application>

</manifest>